!!! 5
html(lang='es-MX')
	head
		title=title
		link(rel='stylesheet', href='/stylesheets/practica/practica3.css')
		link(rel='stylesheet', href='/stylesheets/lib/responsiveslides.css')
		script(type='text/javascript', src='/js/lib/jquery-1.10.2.min.js')		
		script(type='text/javascript', src='/js/lib/responsiveslides.min.js')
		script(type='text/javascript', src='/js/funciones.js')
	body
		header	
			a(href='Resgistrar')
				h3 Registrarte/Entrar a tu Cuenta			
			h1
				img(src='/img/marca.jpg')
			div.cabecera
				dib.buscar
					input(type='text',placeholder='Buscar')
				nav	
					ul
						li
							a(href='Hombre') Hombre
						li 
							a(href='nilo') Mujer
						li 
							a(href='Niño') Niño					

		
		div.slider
			ul.rslides
				li
					img(src='/img/Banner/adidas-runthrutime.jpg')
				li
					img(src='/img/Banner/Converse.jpg')		
				li
					img(src='/img/Banner/nike-airpython.jpg')
				li
					img(src='/img/Banner/nike-db.jpg')
				li
					img(src='/img/Banner/puma-trinomic.jpg')


		aside#Marcas	
			img(src='/img/marcas/adidas.jpg')
			img(src='/img/marcas/converse.jpg')
			img(src='/img/marcas/Cretive_recreation.gif')
			img(src='/img/marcas/dg.jpg')
			img(src='/img/marcas/Nike.jpg')	
			img(src='/img/marcas/puma.gif')	
			img(src='/img/marcas/reebok.jpg')	
			img(src='/img/marcas/supra.jpg')	
			img(src='/img/marcas/vans.jpg')	

		footer