<!DOCTYPE html>
<html lang="es-MX">
  <head>
    <title></title>
    <link rel="stylesheet" href="/stylesheets/practica/practica3.css">
    <link rel="stylesheet" href="/stylesheets/lib/responsiveslides.css">
    <script type="text/javascript" src="/js/lib/jquery-1.10.2.min.js">		</script>
    <script type="text/javascript" src="/js/lib/responsiveslides.min.js"></script>
    <script type="text/javascript" src="/js/funciones.js"></script>
  </head>
  <body>
    <header>	<a href="Resgistrar">
        <h3>Registrarte/Entrar a tu Cuenta			</h3></a>
      <h1><img src="/img/marca.jpg"></h1>
      <div class="cabecera">
        <dib class="buscar">
          <input type="text" placeholder="Buscar">
        </dib>
        <nav>	
          <ul>
            <li><a href="Hombre">Hombre</a></li>
            <li> <a href="nilo">Mujer</a></li>
            <li> <a href="Niño">Niño					</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <div class="slider">
      <ul class="rslides">
        <li><img src="/img/Banner/adidas-runthrutime.jpg"></li>
        <li><img src="/img/Banner/Converse.jpg"></li>
        <li><img src="/img/Banner/nike-airpython.jpg"></li>
        <li><img src="/img/Banner/nike-db.jpg"></li>
        <li><img src="/img/Banner/puma-trinomic.jpg"></li>
      </ul>
    </div>
    <aside id="Marcas">	<img src="/img/marcas/adidas.jpg"><img src="/img/marcas/converse.jpg"><img src="/img/marcas/Cretive_recreation.gif"><img src="/img/marcas/dg.jpg"><img src="/img/marcas/Nike.jpg"><img src="/img/marcas/puma.gif"><img src="/img/marcas/reebok.jpg"><img src="/img/marcas/supra.jpg"><img src="/img/marcas/vans.jpg"></aside>
    <footer></footer>
  </body>
</html>