!!! 5
html
	meta(charset='utf-8')
	head		
		title Idea Inicial
		link(rel='shortcut icon' ,href="img/Icono.ico")		
		link(rel='stylesheet', href='/stylesheets/practica1.css')
		script(type='text/javascript', src='/js/lib/jquery-1.10.2.min.js')
		script(type='text/javascript', src='/js/funciones.js')
	body
		div
			br
			h1 LACET
			section
				p
					strong	Objetivo: 
					|	Ser distribuidor del mejor calzado deportivo o casual siendo proveedor de las mejores marcas y  SNEAKERS teniendo una amplia gama de estos ens us diferentes categorías, diseños
					|	y de colección, brindándole  al cliente la oportunidad de adquirir un status representado por la moda y vanguardia de los Sneakers
				p
					strong Artículos:
					|	La venta de zapatos deportivos mejor conocidos como SNEAKERS que pertenezcan a las mejores marcas, asi como la venta de ediciones especiales hechas por diseñadores cumpliendo con el objetivo de vender SNEAKERS
					|	que le den un estilo único  y de comodidad al cliente
				p
					strong Necesidad:
					|	No se encuentra con un sitio web que oferte las diferentes tipos de marcas además de no contar con la gama completa de modelos de cada marca además de que las ediciones especiales no se encuentra disponibles	en un mismo portal web
					|	dejando muchos factores de lado, como  lo son no ofertar calzado para mujeres o solo ofertando un catálogo muy pequeño para esta sección del publico
				p
					strong Producto	:
					|	La mas amplia gama de tenis deportivos(SNEAKERS) y causales simpre ofreciendo una opcion bastante amplia de modelos y marcas que permitan al cliente expresar su estilo atravez de ellos,
					|	tomando encuenta el mercado para damas 	tambien se contara con un amplio catalogo para ellas
			br					
		div#home
			h1	HOME
