<!DOCTYPE html>
<html lang="es-mx">
  <meta charset="utf-8">
  <head>
    <title>	Análisis de Requerimientos		</title>
    <link rel="stylesheet" href="/stylesheets/practica2.css">
    <link rel="stylesheet" href="/stylesheets/lightbox.css">
    <script type="text/javascript" src="/js/lib/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="/js/lib/lightbox-2.6.min.js"></script>
    <script type="text/javascript" src="/js/funciones.js"></script>
  </head>
  <body>	
    <header>
      <div></div>
    </header>
    <div class="galeria">
      <div><a href="/img/Diagramas/Casos de Uso.png" data-lightbox="roadtrip" title="Casos de Uso"> <img src="/img/Diagramas/Casos de Uso.png"/>
          <h4>Casos de Uso</h4></a></div>
      <div><a href="/img/Diagramas/Diagrama de clases.png" data-lightbox="roadtrip" title="Diagrama de clases"> <img src="/img/Diagramas/Diagrama de clases.png"/>
          <h4>Diagrama de clases</h4></a></div>
      <div><a href="/img/Diagramas/Diagrama de Estado.png" data-lightbox="roadtrip" title="Diagrama de Estado"> <img src="/img/Diagramas/Diagrama de Estado.png"/>
          <h4>Diagrama de Estado</h4></a></div>
      <div><a href="/img/Diagramas/Diagrama de Estado.png" data-lightbox="roadtrip" title="Diagrama de Estado"> <img src="/img/Diagramas/Diagrama de Estado.png"/>
          <h4>Diagrama de Estado</h4></a></div>
      <div><a href="/img/Diagramas/Diagrama de Despliegue.png" data-lightbox="roadtrip" title="Diagrama de Despliegue"> <img src="/img/Diagramas/Diagrama de Despliegue.png"/>
          <h4>Diagrama de Despliegue</h4></a></div>
      <div><a href="/img/Diagramas/Diagrama de Componentes.png" data-lightbox="roadtrip" title="Diagrama de Componentes"> <img src="/img/Diagramas/Diagrama de Componentes.png"/>
          <h4>Diagrama de Componentes</h4></a></div>
    </div>
    <div id="home">
      <h1>HOME</h1>
    </div>
  </body>
</html>