footer	

//- script( src='/javascript/lib/jquery-2.0.3.min.js')
//- script( src='/javascript/lib/underscore-min.js')
//- script( src='/javascript/lib/backbone-min.js')
//- script( src='/javascript/rutas/rutas.js'))