extends layout
	
block content	
	include header

	header
			h1
				| Practicas
			div	
				h2
					a(href='/practica/1', title='practica1',id='p1')  1: Idea Inicial
				h2
					a(href='/practica/2', title='practica2',id='p2')  2: Modelado
				h2
					a(href='/practica/3', title='practica3', id='p3') 3: XP	
				h2
					| Practica 4
				h2
					| Practica 5
				h2
					| Practica 6	
				h2
					| Practica 7
				h2
					| Practica 8
				h2
					| Practica 9	
				h2
					| Practica 	10
				h2
					| Practica 	11
				h2
					| Practica 	12
		
		a(href="/proyecto" class="proyecto")
			| Proyecto

	include footer