<!DOCTYPE html>
<html>
  <head>		
    <title>Ingenieria de Software para ambientes web		</title>
    <link rel="stylesheet" href="/stylesheets/estilo.css">
  </head>
  <body>		
    <nav>
      <p>Daniel Alejandro Aguirre Linares</p>
    </nav>
    <header>
      <h1>Practicas</h1>
      <div>	
        <h2><a href="/practica/1" title="practica1" id="p1"> 1: Idea Inicial</a></h2>
        <h2><a href="/practica/2" title="practica2" id="p2"> 2: Modelado</a></h2>
        <h2><a href="/practica/3" title="practica3" id="p3">3: XP	</a></h2>
        <h2>Practica 4</h2>
        <h2>Practica 5</h2>
        <h2>Practica 6	</h2>
        <h2>Practica 7</h2>
        <h2>Practica 8</h2>
        <h2>Practica 9	</h2>
        <h2>Practica 	10</h2>
        <h2>Practica 	11</h2>
        <h2>Practica 	12</h2>
      </div>
    </header><a href="/proyecto" class="proyecto">Proyecto</a>
    <footer>	</footer>
  </body>
</html>