@font-face{font-family:'Ubuntu';font-style:normal;font-weight:normal;src:url("../fuentes/UbuntuMon-Bo.ttf")}
*{border:0;margin:0;padding:0}
body{background:url("../img/fondo2.jpg")}
div{background:rgba(0,0,0,0.75);border-radius:15px;box-shadow:2px 2px 10px #fff;color:#fff;margin:4em 17%;width:65%;}
div h1{margin:auto 40%}
div p{font-family:'Ubuntu',Verdana;font-size:18px;font-weight:bold;letter-spacing:,5px;margin:20px 40px}
div section{margin:auto 30px;text-align:justify}
div#home{margin:5em auto;text-align:justify;width:250px;}
div#home h1{margin:2.3em;padding:.2em}
div#home:hover{background:rgba(255,255,255,0.8);color:#000;cursor:pointer;-ms-transition:all 1s ease-out;-moz-transition:all 1s ease-out;-o-transition:all 1s ease-out;-webkit-transition:all 1s ease-out;transition:all 1s ease-out}
