COLOR=#01354f
transition(n)
	-ms-transition all ns ease-out
	-moz-transition all ns ease-out
	-o-transition all ns ease-out
	-webkit-transition all ns ease-out	
	transition all ns ease-out
*	
	border 0
	margin 0	
	padding 0
	letter-spacing .3em
h1
	color lighten(COLOR,20%)
	font-weight bold
	margin .8em 18em
	text-shadow: 1px 10px 8px rgba(150, 150, 150, .6);
header
	background COLOR
	box-shadow 2px 10px 28px #746e6e
	margin 0 auto		
	width 100%
	div
		background url('/img/marca.jpg')
		background-repeat no-repeat
		height 8em
		margin auto auto
		width 16em
ul			
	list-style none
	margin auto 26em
	width 35em
	li 
		a
			color lighten(COLOR,20%)
			font-size 28px
			font-weight bold
			text-decoration none
			text-shadow: 1px 10px 8px rgba(150, 150, 150, .6);
		img
			box-shadow 1px 10px 8px #746e6e
			height 2em
			width 1.5em
			margin .2em 2em